<div class="footer">
  <div class="row">
    <div class="col s12 m2">
      <div class="flogo">
        <a href="./index.html" class=" myLogo"><div style="height:60px;width:auto;" >
          LOGO</div></a>
        </div>
      </div>
      <div class="col s12 m1 offset-m4 ">
        <div class="links">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Tutorials</a></li>

          </ul>
        </div>

      </div>
      <div class="col s12 m1">
        <div class="links">
          <ul>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>

      <div class="col m2 s12">
        <div class="social">
          <div class="flex title">
            <div>
              <h6 class="">Social Links</h6>
              <div class="line"></div>
            </div>
          </div>
          <ul>
            <li>
              <a href="#">

                <img src="./img/fb.png" alt="">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./img/insta.png" alt="">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./img/twitter.png" alt="">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="credits">
    <span>&copy; 2018  All Rights Reserved.</span>
  </div>
