<nav>
  <div class="nav-wrapper white black-text">
    <a href="/" class="brand-logo black-text">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><div class="dropdownlabel " ><a href="#" class="black-text">Classes</a>
        <div class="dropdowncontent shadow ">
          <a href="/calender">Calender</a>
          <a href="#">Home Support</a>
          <a href="#">Tech Tips</a>
        </div>
      </div>
    </li>
    <li><div class="dropdownlabel" ><a href="faq" class="black-text">FAQ</a>
      <div class="dropdowncontent shadow ">
        <a href="#">Why should I help?</a>
        <a href="#">Can I help?</a>
        <a href="#">What will happen if I help?</a>
        <a href="#">How to help?</a>
        <a href="#">Am I fit for helping?</a>
        <a href="#">What if I need help learning technology?</a>
      </div>
    </div>
  </li>

  <li>
    <div class="dropdownlabel"><a href="#" class="black-text">Register as a volunteer</a>
      <div class="dropdowncontent shadow ">
        <a href="#">Can I teach/help/learn?</a>
        <a href="#">Register link sign-up</a>
        <a href="#">Benefits of Technology</a>
      </div>
    </div>
  </li>
  <li>
    <div class="dropdownlabel"><a href="#" class="black-text">Success stories</a>
      <div class="dropdowncontent shadow ">
        <a href="#">How many seniors we have taught</a>

      </div>
    </div>
  </li>
  <li class="tutorials"><a href="#" class="black-text">Tutorials</a></li>
  <li class="resources"><a href="#" class="black-text">Resources</a></li>
  <li class="resources"><a href="#" class="black-text">About us</a></li>
</ul>
</div>
</nav>
